.App {
  width: 100%;
}

* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.board-section {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
}

.app-container {
  display: flex;
  justify-content: center;
}
a {
  color: #484848;
  font-weight: bold;
  font-size: 19px;
}

a:hover {
  color: #666666;
}

header {
  display: flex;
  height: 60px;
  width: 80%;
  border-bottom: 1px solid #d0cfcf;
  justify-content: space-between;
}

#headerSpeechBubble {
  width: 500px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dcffc0;
  border: 1px solid #88ea66;
  border-radius: 20px;
  font-weight: bold;
  color: #585858;
}

#logo {
  display: inline-block;
  margin: 0 40px;
}

.header-ko {
  margin-top: 20px;
}

#postButton {
  padding-top: 5px;
}
